.deck {
    display: flex;
}

.container {
    width: 220px; height: 310px; transition: all 0.1s;
}
.overlay {
    position: absolute;
    width: 220px; height: 310px;
    background: linear-gradient(105deg,
    transparent 40%,
    rgba(255, 219, 112, 0.8) 45%,
    rgba(132, 50, 255, 0.6) 50%,
    transparent);
    filter: brightness(1.2) opacity(0.8);
    mix-blend-mode: color-dodge;
    background-size: 150% 150%;
    background-position: 100%;
    transition: all 0.1s;
}
.card {
    width: 220px; height: 310px;
    background-size: cover;
}
#pikachu {
    background-image: url("img/pikachu.png");
}
#Sprigatito {
    background-image: url("img/Sprigatito.png");
}