#box {
    display: flex;
    flex-direction: row;    
    /* flex-direction: column; */

    align-items: center;

    width: 100px;
    height: 1000px;

    background-color: pink;
}

#a{
    background-color: red;
    width: 100px;
    height: 100px;
    
}